.conversion{
    width: calc(100% - 300px);
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 90px;
    padding-bottom: 40px;
    font-family: var(--font-roboto);
}

.conversion__content{
    width: 100%;
    max-width: 760px;
}

.gold-banner{
    background: rgb(243,220,101);
    background: linear-gradient(180deg, rgba(243,220,101,1) 0%, rgba(228,182,53,1) 100%);
    display: flex;
    height: 100px;
    min-height: 100px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgb(171,134,31);
    box-sizing: border-box;
    padding: 10px 20px;
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.gold-banner__points{
    padding: 1px 20px;
    border-radius: 25px;
    background-color: rgba(0,0,0,.4);
    font-size: 1.8rem;
    color: white;
    font-weight: 400;
    margin-left: 20px;
}


.conversion__tab-header{
    display: flex;
    height: 40px;
    min-height: 40px;
    margin-top: 20px;
}

.conversion__tab-header-item{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(81,70,66);
    flex: 1;
    background: rgb(234,237,243);
    background: linear-gradient(230deg, rgba(234,237,243,1) 0%, rgba(228,228,228,1) 100%);
    border: 1px solid #a7a6a6;
    border-radius: 3px;
    cursor: pointer;
}


.conversion__tab-header-item--active{
    background: rgb(102,227,166);
    background: linear-gradient(230deg, rgba(102,227,166,1) 0%, rgba(54,194,108,1) 100%);
    border-color: #20b057;
    color: white
}


.conversion__title{
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 20px;
}

.bank-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:1px solid rgb(198,191,187);
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 20px 20px;
    min-width: 665px;
}

.bank-card__title{
    margin: 0px;
    font-weight: 400;
    margin-bottom: 14px;
    font-size: 1rem;
    white-space: nowrap;
}

.bank-card__p{
    color: rgb(198,191,187);
    font-weight: 300;
    font-size: 0.8rem;
}

.bank-card__icon{
    width: 50px;
    object-fit: cover;
    object-position: center;
    margin-right: 25px;
}

.bank-card__inputs{
    display: flex;
    margin-bottom: 10px;
}

.bank-card__values{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 33px;
}

.bank-card__col2{
    width: 100%;
    align-self: stretch;
}

/* CARD INPUT */

.card-input{
    position: relative;
}

.card-input--first{
    margin-right: 10px;
}

.card-input__name{
    color: rgb(198,191,187);
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 4px;
}

.card-input__input{
    height: 40px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid rgb(198,191,187);
    border-radius: 4px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    min-width: 100px;
}


.card-input__i{
    position: absolute;
    right: 5px;
    bottom: 12px;
    width: 10px;
    padding: 2px;
    cursor: pointer;
}

.card-input__dropdown{
    position: absolute;
    top: 102%;
    width: 98.5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 2;
    border: 1px solid rgb(240, 238, 237);
    border-radius: 4px;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
}

.card-input__dropdown-item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    border-bottom: 1px solid rgb(243, 242, 242);
    height: 28px;
    cursor: pointer;
    color: grey;
}
.card-input__dropdown-item:hover{
    background-color: whitesmoke;
}


.gift-card{
    display: flex;
    align-items: center;
    border:1px solid rgb(198,191,187);
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.gift-card__img{
    width: 60px;
    object-fit: cover;
    object-position: center;
    margin-right: 20px;
}

.gift-card__title{
    font-weight: 500;
    font-size: 1.1rem;
}

.gift-card__price{
    color:rgb(76,209,135);
    margin-left: 5px;
}

.gift-card__p{
    color: rgb(198,191,187);
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0px;
    margin-top: 5px;
    margin-right: 20px;
}

.conversion__shop-items{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.shop-card{
    border: 2px solid rgb(255,214,73);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 0px;
    height: 110px;
    min-height: 110px;
    min-width: 330px;
    display: flex;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 100%);
    margin-bottom: 20px;
}

.shop-card__col1{
    height: calc(100% + 20px);
    width: 133px;
    min-width: 133px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(246,234,204,1) 100%);
    border-right: 2px solid rgb(255,214,73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
}

.shop-card__col2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}

.shop-card__img{
    width: 40px;
}

.shop-card__price{
    background: rgb(81,70,66);
    background: linear-gradient(180deg, rgba(81,70,66,1) 0%, rgba(45,28,28,.9) 100%);
    border: 2px solid rgb(255,197,46);
    border-radius: 20px;
    color: rgb(255,197,46);
    padding: 3px 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 10px;
    box-shadow: 0px 2px 4px 0px rgba(120,102,19,0.52);
}


.shop-card__title{
    color:rgb(81,70,66);
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 10px;
}


@media (max-width:1030px)  {
    .conversion{
        width: 100%;
    }   
}


@media (max-width:770px){

    .bank-card{
        width: 100%;
        max-width: 100%;
        min-width: auto;
        flex-direction: column;
    }

    .bank-card__title{
        white-space: pre-line;
    }

    .bank-card__icon{
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .bank-card__inputs{
        flex-direction: column;
    }

    .bank-card__values{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .card-input--first{
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .divider--bank-card{
        display: none;
    }
}



@media (max-width: 480px) {

    .conversion{
        padding-left: 20px;
        padding-right: 20px;
    }
    

    .gold-banner{
        padding: 10px 10px;
        font-size: 1.3rem;
    }

    .gold-banner__points{
        padding: 1px 10px;
        font-size: 1rem;
        margin-left: 10px;
    }

    .conversion__title{
        font-size: 1.2rem;
    }

    .shop-card{
        width: 100%;
        max-width: 100%;
        min-width: auto;
        height: auto;
        flex-direction: column;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }

    .shop-card__col1{
        width: calc(100% + 10px);
        height: auto;
        margin-left: -10px;
        margin-top: -10px;
        margin-bottom: 10px;
        border-right: none;
        border-bottom: 2px solid rgb(255,214,73);
        padding: 10px 0px;
    }

    
    .gift-card{
        flex-direction: column;
    }

    .gift-card__img{
        margin-right: 0;
    }
    
    .gift-card__col2{
        text-align: center;
        margin-bottom: 15px;
    }

    .gift-card__p{
        margin-right: 0;
    }


}