:root{
    --primary-bg:rgb(255,252,251);
    --font-roboto: 'Roboto', sans-serif;
    --color-gold:rgb(207,162,103);
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,body,#root{
  width: 100%;
  height: 100%;
}

*{
  outline: none;
}


/* ========  BTN  ======== */

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0px 30px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: black;
  font-family: var(--font-roboto);
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9rem;
  white-space: nowrap;
}

.btn__icon{
  width: 15px;
  height: 15px;
  margin-right: 10px
}

.btn--gold{
  background: rgb(230,202,115);
  background: linear-gradient(0deg, rgba(230,202,115,1) 0%, rgba(228,181,94,1) 100%);
  border-color: #bb9b4f;
  box-shadow: 0px 1px 1px rgba(22,29,37,0.1);
}

.btn--gold:hover{
  box-shadow: 0px 1px 2px rgba(22,29,37,0.3);
}

.btn--sidebar{
  display: flex;
  height: 45px;
  color:white;
}

.btn--sidebar-gold{
  border: 1px solid rgb(187,155,79);
  background: linear-gradient(0deg, rgba(230,202,115,1) 0%, rgba(243,176,51,1) 100%);
}

.btn--sidebar-standard{
  background: rgb(83,232,159);
  background: linear-gradient(0deg, rgba(83,232,159,1) 0%, rgba(54,194,108,1) 100%);
}

.btn--sidebar-small{
  height: 18px;
  font-size: 0.7rem;
  padding: 0px 20px;
  display: inline-flex;
  font-weight: 300;
  border-radius: 2px;
  margin-top: 8px;
}

.btn--white{
  border-color: rgb(198,191,187);
  color: rgb(198,191,187);
  font-weight: 400;
}

.btn--bg-white{
  background-color: white;
  color: black;
}

.btn--bg-white:hover{
  background-color: lightgrey;
}

.btn--game-prefs{
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  border: 1px solid rgb(198,191,187);
  background-color: rgba(53,48,44,0.7);
  flex: 1;
  padding: 0px 28px;
}

.btn--game-prefs-active{
  color: rgb(81,70,66);
  background-color: rgb(234 ,237,243);
}

.btn--game-prefs-green{
  background-color: rgb(37,161,86);
  border: 1px solid rgb(11,104,56);

}

.btn-green-gradient{
  background-color: rgb(54,194,108);
  border: 1px solid rgb(32,176,87);
  color: white;
}

/* ======  DIVIDER  ======= */
.divider{
  background-color: rgb(234,237,243);
}

.divider--hor{
  width: 100%;
  height: 1px;
}

.divider--conversion{
  background-color: rgb(198,191,187);
}

.divider--bank-card{
  height: 100px;
  min-width: 1px;
  background-color: rgb(234,237,243);
  margin-top: 42px;
}

.divider--game-prefs{
  width: 1px;
  height:auto;
  background-color: rgb(81,70,66);
}

.divider--login-form{
  max-width:350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.divider--75px{
    max-width: 75px;
}

.divider--sidebar{
  background-color: rgb(46,46,51);
}


/* ======  FOOTER  ====== */
.footer{
    background-color: white;
    height: 55px;
    width: 100%;
}

.footer__content{
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
}


.footer__logo{
  height: 30px;
  width: 70px;
}

.footer__social-logo{
    width: 15px;
    height: 15px;
    margin-left: 15px;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid white;
  object-fit: cover;
  display: block;
}

.avatar--siderbar{
  width: 55px;
  height: 55px;
}

.avatar--small{
  width: 40px;
  height: 40px;
}

.avatar--2xsmall{
  width: 35px;
  height: 35px;
}

.avatar--borderless{
  border: none;
}

.avatar--border-small{
  border: 1px solid white;
}

.avatar--square{
  border-radius: 5px;
}

.nav{
  width: inherit;
  height: 60px;
  min-height: 60px;
  border-bottom: 1px solid rgb(234,237,243);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  top: 0;
  left: 300px;
  background-color: white;
  z-index: 2;
}
.nav__logo{
  width: 70px;
}


/* ========  POPUP  ======== */
.popup{
  position: fixed;
  top: 65px;
  right: 25px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid rgb(198,191,187);
  box-shadow: 0px 1px 7px rgba(0,143,69,0.14);
  z-index: 3;
  transform: translateX(calc(100% + 50px));
  animation: slide-left-in .3s ease forwards;
  font-family: var(--font-roboto);
}

.popup__content-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.popup__user-infos{
    align-items: center;
    font-size: 0.9rem;
    display: flex;
}

.popup__user-infos--column{
  flex-direction: column;
}

.popup__name{
  margin-left: 10px;
  color: rgb(62,63,66);
  font-weight: 500;
}

.popup__sec-span{
  margin-left: 10px;
  color: rgb(167,166,166);
  font-weight: 300;
  font-size: 0.9rem;
}

.popup__btns{
  display: flex;
  height: 40px;
  border-top: 1px solid rgb(198,191,187);
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
}

.popup__btns--content-center{
  align-items: center;
  justify-content: center;
}


.popup__btn{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 0.9rem;
  cursor: pointer;
}

.popup__btn:hover{
  background-color: rgb(252, 250, 250);
}

.popup__btn--accept{
  color: rgb(0,143,69);
  border-right: 1px solid rgb(198,191,187);
}

.popup__btn--accept-no-border{
  border-right: none;
}

.popup__btn--cancel{
    color: rgb(156, 156, 156)
}

.popup__btn--decline{
  color: rgb(250,67,67);
}

.popup__section{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 10px;
}

.popup__section-title{
  color: rgb(167,166,166);
  font-weight: 400;
  font-size: 0.7rem;
}

.popup__row{
  display: flex;
  justify-content: space-between;
  background-color: rgb(255,252,251);
  box-sizing: border-box;
  padding: 10px 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.popup__section-title2{
  color: rgb(81,70,66);
  font-size: 0.9rem;
  font-weight: 500;
}

.popup__section-value{
  color: rgb(81,70,66);
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.popup__section-value>img{
  margin-right: 5px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}


.confirm-dialog{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.popup--confirm{
  position: static;
  margin: 0px;
  transform: scale(0.3) translateX(0) ;
  animation: scale-up .3s ease forwards;
  opacity: 0;
}



.gameprefs-popup{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  background-color: rgba(0,0,0,.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameprefs-popup__content{
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid rgb(167,166,166);
  border-radius: 2px;
  background-image: url('../imgs/game-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: var(--font-roboto);
  width: 600px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  max-height: 90%;
  overflow-y: scroll;
}

.gameprefs-popup__content::after{
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:  rgba(15,15,15,.5);
  z-index: -1;
}

.gameprefs-popup__close-i{
  position: absolute;
  top:10px;
  right: 10px;
  color: grey;
  font-size: 1.2rem;
  border-radius: 30px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 3px;
}

.gameprefs-popup__close-i:hover{
  background-color: lightgrey;
}


.gameprefs-popup__players{
  display: flex;
  background: rgb(14,13,13);
  background: linear-gradient(180deg, rgba(14,13,13,.7) 0%, rgba(78,60,60,.7) 100%);
  border: 1px solid rgb(219, 177, 60);
  border-radius: 2px;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 15px;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
}

.gameprefs-popup__vs-span{
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(255,197,45);
  font-weight: 400;
  font-size: 0.8rem;
}

.gameprefs-popup__player-name{
  font-weight: 400;
  color: rgb(209,180,107);
  font-size: 0.85rem;
}

.gameprefs-popup__section{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(167,166,166);
  margin-bottom: 25px;
}

.gameprefs-popup__section--last{
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.gameprefs-popup__section-title{
  color: rgb(167,166,166);
  font-weight: 400;
  font-size: 0.80rem;
}

.gameprefs-popup__row{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}


/* ======  LOADER  ======== */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2.5px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes slide-left-in{
  from{transform: translateX(calc(100% + 50px));}
  to{transform: translateX(0%);}
}

@keyframes scale-up{
  from{transform: translateY(100%);opacity: 0;}
  to{transform: translateY(0px);opacity: 1;}
}


img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


@media (max-width:1030px)  {
  .nav{
    left: 0px;
  }
}